openapi: 3.1.0
x-stoplight:
  id: stvjbal6q19de
info:
  title: 'v1: Paddle API'
  version: '1.0'
  description: |-
    Paddle Billing is a complete subscription and recurring revenue management platform, designed for modern SaaS businesses. It helps you increase your revenue, retain customers, and scale your operations.

    The Paddle API lets you create, read, and update information in your Paddle Billing system. You can use it to integrate Paddle with your app or third-party solutions.

    See https://developer.paddle.com/ to learn more.
  summary: The Paddle API lets you create, read, and update information in your Paddle Billing system.
  license:
    name: Paddle Market Ltd.
    url: https://www.paddle.com/legal/terms
  contact:
    name: Paddle Seller Support team
    url: https://developer.paddle.com
    email: sellers@paddle.com
  termsOfService: https://www.paddle.com/legal/terms
externalDocs:
  description: Paddle Developer Center
  url: https://developer.paddle.com/
servers:
  - url: https://api.paddle.com
    description: Live
  - url: https://sandbox-api.paddle.com
    description: Sandbox
tags:
  - name: Products
    description: Product entities describe the items that you sell. They hold high-level product attributes.
    externalDocs:
      description: Product entity overview
      url: https://developer.paddle.com/api-reference/products/overview
  - name: Prices
    description: Price entities describe how much and how often you charge for your products. They hold charging information.
    externalDocs:
      description: Price entity overview
      url: https://developer.paddle.com/api-reference/prices/overview
  - name: Discounts
    description: Discount entities describe percentage or amount-based discounts for transactions. They're sometimes called coupons or promo codes.
    externalDocs:
      description: Discount entity overview
      url: https://developer.paddle.com/api-reference/discounts/overview
  - name: Customers
    description: Customer entities hold information about the people and businesses that you sell to. They're related to addresses and businesses.
    externalDocs:
      description: Customer entity overview
      url: https://developer.paddle.com/api-reference/customers/overview
  - name: Addresses
    description: Address entities hold billing address information for a customer. They're sub-entities of customers.
    externalDocs:
      description: Address entity overview
      url: https://developer.paddle.com/api-reference/addresses/overview
  - name: Businesses
    description: Business entities hold information about customer businesses. They're sub-entities of customers.
    externalDocs:
      description: Business entity overview
      url: https://developer.paddle.com/api-reference/businesses/overview
  - name: Transactions
    description: Transaction entities calculate and capture revenue. They hold information about an amount that you're billing for.
    externalDocs:
      description: Transaction entity overview
      url: https://developer.paddle.com/api-reference/transactions/overview
  - name: Subscriptions
    description: Subscription entities describe a recurring billing relationship with a customer. They're closely related to transactions.
    externalDocs:
      description: Subscription entity overview
      url: https://developer.paddle.com/api-reference/subscriptions/overview
  - name: Adjustments
    description: Adjustment entities describe a post-billing adjustment to a billed or completed transaction.
    externalDocs:
      description: Adjustments entity overview
      url: https://developer.paddle.com/api-reference/adjustments/overview
  - name: Pricing preview
    description: Pricing previews are calculated totals for prices.
    externalDocs:
      description: Pricing preview overview
      url: https://developer.paddle.com/api-reference/pricing-preview/overview
  - name: Event types
    description: Event types are actions that Paddle creates events for.
    externalDocs:
      description: Event types overview
      url: https://developer.paddle.com/api-reference/event-types/overview
  - name: Events
    description: Event entities describe something notable that happened in your Paddle system.
    externalDocs:
      description: Event entity overview
      url: https://developer.paddle.com/api-reference/events/overview
  - name: Notification settings
    description: Notification settings entities describe subscriptions to events. They're also called notification destinations.
    externalDocs:
      description: Notification settings entity overview
      url: https://developer.paddle.com/api-reference/notification-settings/overview
  - name: Notifications
    description: Notification entities describe a notification for an event that happened in your Paddle system.
    externalDocs:
      description: Notification entity overview
      url: https://developer.paddle.com/api-reference/notifications/overview
  - name: Notification logs
    description: Notification logs are records of an attempt to deliver a notification.
    externalDocs:
      description: Notification logs entity overview
      url: https://developer.paddle.com/api-reference/notification-logs/overview
  - name: Notification setting replays
    description: Notification settings replays describe attempts to replay notifications for a notification setting
    externalDocs:
      description: Notification setting replays entity overview
      url: https://developer.paddle.com/api-reference/notification-setting-replays/overview
  - name: Reports
    description: Report entities describe a report generated in your Paddle system.
    externalDocs:
      description: Reports entity overview
      url: https://developer.paddle.com/api-reference/reports/overview
  - name: Payouts
    description: Payouts are payments made by Paddle.
  - name: IP addresses
    description: Get Paddle IP addresses.
paths:
  /products:
    get:
      summary: List products
      externalDocs:
        description: List products
        url: https://developer.paddle.com/api-reference/products/list-products
      tags:
        - Products
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/product-includes'
                  meta:
                    $ref: '#/components/schemas/meta-paginated'
                required:
                  - data
                  - meta
              examples:
                Standard - 200 OK:
                  summary: List products (200)
                  value:
                    data:
                      - id: pro_01h1vjes1y163xfj1rh1tkfb65
                        name: Analytics addon
                        tax_category: standard
                        type: standard
                        description: Unlock advanced insights into your flight data with enhanced analytics and reporting features. Includes customizable reporting templates and trend analysis across flights.
                        image_url: https://paddle.s3.amazonaws.com/user/165798/97dRpA6SXzcE6ekK9CAr_analytics.png
                        custom_data: null
                        status: active
                        import_meta: null
                        created_at: '2023-06-01T13:30:50.302Z'
                        updated_at: '2024-04-05T15:47:17.163Z'
                      - id: pro_01gsz97mq9pa4fkyy0wqenepkz
                        name: Custom domains
                        tax_category: standard
                        type: standard
                        description: Make AeroEdit truly your own with custom domains. Custom domains reinforce your brand identity and make it easy for your team to access your account.
                        image_url: https://paddle.s3.amazonaws.com/user/165798/XIG7UXoJQHmlIAiKcnkA_custom-domains.png
                        custom_data: null
                        status: active
                        import_meta: null
                        created_at: '2023-02-23T14:01:02.441Z'
                        updated_at: '2024-04-05T15:43:28.971Z'
                      - id: pro_01gsz92krfzy3hcx5h5rtgnfwz
                        name: VIP support
                        tax_category: standard
                        type: standard
                        description: Get exclusive access to our expert team of product specialists, available to help you make the most of your AeroEdit subscription.
                        image_url: https://paddle.s3.amazonaws.com/user/165798/qgyipKJwRtq98YNboipo_vip-support.png
                        custom_data: null
                        status: active
                        import_meta: null
                        created_at: '2023-02-23T13:58:17.615Z'
                        updated_at: '2024-04-05T15:44:02.893Z'
                      - id: pro_01gsz4vmqbjk3x4vvtafffd540
                        name: AeroEdit Enterprise
                        tax_category: standard
                        type: standard
                        description: The ultimate solution for organizations, featuring all Pro capabilities plus multi-user support, advanced data storage capabilities, plus personalized onboarding, dedicated account management, and the ability to pay via invoice.
                        image_url: https://paddle.s3.amazonaws.com/user/165798/Ws808ziTS76a6YbnMkiK_enterprise.png
                        custom_data:
                          features:
                            aircraft_performance: true
                            compliance_monitoring: true
                            flight_log_management: true
                            payment_by_invoice: true
                            route_planning: true
                            sso: true
                          suggested_addons: []
                          upgrade_description: Ready to reach new heights? Upgrade to enterprise to unlock single sign-on, payment by invoice, and dedicated account management.
                        status: active
                        import_meta: null
                        created_at: '2023-02-23T12:44:34.923Z'
                        updated_at: '2024-04-05T15:58:28.309Z'
                      - id: pro_01gsz4t5hdjse780zja8vvr7jg
                        name: AeroEdit Pro
                        tax_category: standard
                        type: standard
                        description: Designed for professional pilots, including all features plus in Basic plus compliance monitoring, route optimization, and third-party integrations.
                        image_url: https://paddle.s3.amazonaws.com/user/165798/bT1XUOJAQhOUxGs83cbk_pro.png
                        custom_data:
                          features:
                            aircraft_performance: true
                            compliance_monitoring: true
                            flight_log_management: true
                            payment_by_invoice: false
                            route_planning: true
                            sso: false
                          suggested_addons:
                            - pro_01h1vjes1y163xfj1rh1tkfb65
                            - pro_01gsz97mq9pa4fkyy0wqenepkz
                          upgrade_description: Move from Basic to Pro to take advantage of aircraft performance, advanced route planning, and compliance monitoring.
                        status: active
                        import_meta: null
                        created_at: '2023-02-23T12:43:46.605Z'
                        updated_at: '2024-04-05T15:53:44.687Z'
                      - id: pro_01gsz4s0w61y0pp88528f1wvvb
                        name: AeroEdit Basic
                        tax_category: standard
                        type: standard
                        description: Ideal for hobbyist pilots AeroEdit Basic offers flight log creation, editing, basic performance tracking, route planning, and export options.
                        image_url: https://paddle.s3.amazonaws.com/user/165798/oi0r8qNmQzuNpj9pLHcT_basic.png
                        custom_data:
                          features:
                            aircraft_performance: false
                            compliance_monitoring: false
                            flight_log_management: true
                            payment_by_invoice: false
                            route_planning: false
                            sso: false
                          suggested_addons:
                            - pro_01h1vjes1y163xfj1rh1tkfb65
                            - pro_01gsz97mq9pa4fkyy0wqenepkz
                          upgrade_description: null
                        status: active
                        import_meta: null
                        created_at: '2023-02-23T12:43:09.062Z'
                        updated_at: '2024-04-05T15:56:39.477Z'
                    meta:
                      request_id: bb093d50-ddb5-401a-a5ba-034b187b396e
                      pagination:
                        per_page: 50
                        next: https://api.paddle.com/products?after=pro_01gsz4s0w61y0pp88528f1wvvb
                        has_more: false
                        estimated_total: 6
        default:
          $ref: '#/components/responses/error'
      operationId: list-products
      parameters:
        - $ref: '#/components/parameters/after_query'
        - $ref: '#/components/parameters/id_query'
        - $ref: '#/components/parameters/include_product_query'
        - $ref: '#/components/parameters/order_by_query'
          description: |-
            Order returned entities by the specified field and direction (`[ASC]` or `[DESC]`). For example, `?order_by=id[ASC]`.

            Valid fields for ordering: `created_at`, `custom_data`, `description`, `id`, `image_url`, `name`, `status`, `tax_category`, and `updated_at`.
        - $ref: '#/components/parameters/per_page_query'
        - $ref: '#/components/parameters/status_query'
        - $ref: '#/components/parameters/tax_category_query'
        - $ref: '#/components/parameters/type_catalog_query'
      description: |-
        Returns a paginated list of products. Use the query parameters to page through results.

        By default, Paddle returns products that are `active`. Use the `status` query parameter to return products that are archived.

        Use the `include` parameter to include related price entities in the response.
    post:
      summary: Create a product
      externalDocs:
        description: Create product
        url: https://developer.paddle.com/api-reference/products/create-product
      tags:
        - Products
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/product'
                  meta:
                    $ref: '#/components/schemas/meta'
                required:
                  - data
                  - meta
              examples:
                Standard - 201 Created:
                  summary: Create a product (201)
                  value:
                    data:
                      id: pro_01htz88xpr0mm7b3ta2pjkr7w2
                      name: AeroEdit Student
                      tax_category: standard
                      type: standard
                      description: Essential tools for student pilots to manage flight logs, analyze performance, and plan routes, and ensure compliance. Valid student pilot certificate from the FAA required.
                      image_url: https://paddle.s3.amazonaws.com/user/165798/bT1XUOJAQhOUxGs83cbk_pro.png
                      custom_data:
                        features:
                          aircraft_performance: true
                          compliance_monitoring: false
                          flight_log_management: true
                          payment_by_invoice: false
                          route_planning: true
                          sso: false
                        suggested_addons:
                          - pro_01h1vjes1y163xfj1rh1tkfb65
                          - pro_01gsz97mq9pa4fkyy0wqenepkz
                        upgrade_description: null
                      status: active
                      import_meta: null
                      created_at: '2024-04-08T16:22:16.024Z'
                      updated_at: '2024-04-08T16:22:16.024Z'
                    meta:
                      request_id: cf40234b-e140-44d1-a83f-7bbdedd88589
        default:
          $ref: '#/components/responses/error'
      operationId: create-product
      description: |-
        Creates a new product.

        Paddle does not upload product images to a CDN. For `image_url`, you should host images on an HTTPS server that's publicly accessible. We recommend using square images (`1:1` ratio).

        If successful, your response includes a copy of the new product entity.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product-create'
            examples:
              Standard:
                $ref: '#/components/examples/create-product-standard'
  "/products/{product_id}":
    parameters:
      - $ref: '#/components/parameters/product_id_path'
    get:
      summary: Get a product
      externalDocs:
        description: Get a product
        url: https://developer.paddle.com/api-reference/products/get-product
      tags:
        - Products
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/product-includes'
                  meta:
                    $ref: '#/components/schemas/meta'
                required:
                  - data
                  - meta
              examples:
                Standard - 200 OK:
                  summary: Get a product (200)
                  value:
                    data:
                      id: pro_01gsz4t5hdjse780zja8vvr7jg
                      name: AeroEdit Pro
                      tax_category: standard
                      type: standard
                      description: |-
                        Designed for professional pilots, including all features plus in Basic plus
                        compliance monitoring, route optimization, and third-party integrations.
                      image_url: https://paddle.s3.amazonaws.com/user/165798/bT1XUOJAQhOUxGs83cbk_pro.png
                      custom_data:
                        features:
                          aircraft_performance: true
                          compliance_monitoring: true
                          flight_log_management: true
                          payment_by_invoice: false
                          route_planning: true
                          sso: false
                        suggested_addons:
                          - pro_01h1vjes1y163xfj1rh1tkfb65
                          - pro_01gsz97mq9pa4fkyy0wqenepkz
                        upgrade_description: |-
                          Move from Basic to Pro to take advantage of aircraft performance, advanced
                          route planning, and compliance monitoring.
                      status: active
                      import_meta: null
                      created_at: '2023-02-23T12:43:46.605Z'
                      updated_at: '2024-04-05T15:53:44.687Z'
                    meta:
                      request_id: ccb21d76-1e13-4a5e-afb8-0f4c9f20ac07
        default:
          $ref: '#/components/responses/error'
      operationId: get-product
      parameters:
        - $ref: '#/components/parameters/include_product_query'
      description: |-
        Returns a product using its ID.

        Use the `include` parameter to include related price entities in the response.
    patch:
      summary: Update a product
      externalDocs:
        description: Update a product
        url: https://developer.paddle.com/api-reference/products/update-product
      operationId: update-product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/product'
                  meta:
                    $ref: '#/components/schemas/meta'
                required:
                  - data
                  - meta
              examples:
                Standard - 200 OK:
                  summary: Update a product (200)
                  value:
                    data:
                      id: pro_01htz88xpr0mm7b3ta2pjkr7w2
                      name: AeroEdit for learner pilots
                      tax_category: standard
                      type: standard
                      description: Essential tools for student pilots to manage flight logs, analyze performance, and plan routes, and ensure compliance. Valid student pilot certificate from the FAA required.
                      image_url: https://paddle.s3.amazonaws.com/user/165798/bT1XUOJAQhOUxGs83cbk_pro.png
                      custom_data:
                        features:
                          aircraft_performance: true
                          compliance_monitoring: false
                          flight_log_management: true
                          payment_by_invoice: false
                          route_planning: true
                          sso: false
                        suggested_addons:
                          - pro_01h1vjes1y163xfj1rh1tkfb65
                          - pro_01gsz97mq9pa4fkyy0wqenepkz
                        upgrade_description: null
                      status: active
                      import_meta: null
                      created_at: '2024-04-08T16:22:16.024Z'
                      updated_at: '2024-04-08T16:27:59.074Z'
                    meta:
                      request_id: 6e0077bb-9f36-465c-a303-eaaf9d4d44aa
        default:
          $ref: '#/components/responses/error'
      description: |-
        Updates a product using its ID.

        Paddle does not upload product images to a CDN. For `image_url`, you should host images on an HTTPS server that's publicly accessible. We recommend using square images (`1:1` ratio).

        If successful, your response includes a copy of the updated product entity.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product-update'
            examples:
              Standard:
                $ref: '#/components/examples/update-product-standard'
      tags:
        - Products
  /prices:
    get:
      summary: List prices
      externalDocs:
        description: List prices
        url: https://developer.paddle.com/api-reference/prices/list-prices
      tags:
        - Prices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/price-includes'
                  meta:
                    $ref: '#/components/schemas/meta-paginated'
                required:
                  - data
                  - meta
              examples:
                Standard - 200 OK:
                  summary: List prices (200)
                  value:
                    data:
                      - id: pri_01h1vjg3sqjj1y9tvazkdqe5vt
                        product_id: pro_01h1vjes1y163xfj1rh1tkfb65
                        type: standard
                        description: Annual
                        name: Annual (recurring addon)
                        billing_cycle:
                          interval: year
                          frequency: 1
                        trial_period: null
                        tax_mode: account_setting
                        unit_price:
                          amount: '100000'
                          currency_code: USD
                        unit_price_overrides: []
                        custom_data: null
                        status: active
                        quantity:
                          minimum: 1
                          maximum: 1
                        import_meta: null
                        created_at: '2023-06-01T13:31:34.071379Z'
                        updated_at: '2024-04-05T14:33:40.972651Z'
                      - id: pri_01h1vjfevh5etwq3rb416a23h2
                        product_id: pro_01h1vjes1y163xfj1rh1tkfb65
                        type: standard
                        description: Monthly
                        name: Monthly (recurring addon)
                        billing_cycle:
                          interval: month
                          frequency: 1
                        trial_period: null
                        tax_mode: account_setting
                        unit_price:
                          amount: '10000'
                          currency_code: USD
                        unit_price_overrides: []
                        custom_data: null
                        status: active
                        quantity:
                          minimum: 1
                          maximum: 100
                        import_meta: null
                        created_at: '2023-06-01T13:31:12.625056Z'
                        updated_at: '2024-04-09T07:23:00.907834Z'
                      - id: pri_01gvne87kv8vbqa9jkfbmgtsed
                        product_id: pro_01gsz4vmqbjk3x4vvtafffd540
                        type: standard
                        description: Monthly
                        name: Monthly (per seat)
                        billing_cycle:
                          interval: month
                          frequency: 1
                        trial_period: null
                        tax_mode: account_setting
                        unit_price:
                          amount: '5000'
                          currency_code: USD
                        unit_price_overrides: []
                        custom_data: null
                        status: active
                        quantity:
                          minimum: 1
                          maximum: 100
                        import_meta: null
                        created_at: '2023-03-16T14:47:43.995985Z'
                        updated_at: '2024-04-09T07:29:19.91977Z'
                      - id: pri_01gsz98e27ak2tyhexptwc58yk
                        product_id: pro_01gsz97mq9pa4fkyy0wqenepkz
                        type: standard
                        description: One-time addon
                        name: One-time addon
                        billing_cycle: null
                        trial_period: null
                        tax_mode: account_setting
                        unit_price:
                          amount: '19900'
                          currency_code: USD
                        unit_price_overrides: []
                        custom_data: null
                        status: active
                        quantity:
                          minimum: 1
                          maximum: 1
                        import_meta: null
                        created_at: '2023-02-23T14:01:28.391712Z'
                        updated_at: '2024-04-09T07:23:10.921392Z'
                      - id: pri_01gsz96z29d88jrmsf2ztbfgjg
                        product_id: pro_01gsz92krfzy3hcx5h5rtgnfwz
                        type: standard
                        description: Annual (recurring addon)
                        name: Annual (recurring addon)
                        billing_cycle:
                          interval: year
                          frequency: 1
                        trial_period: null
                        tax_mode: account_setting
                        unit_price:
                          amount: '300000'
                          currency_code: USD
                        unit_price_overrides: []
                        custom_data: null
                        status: active
                        quantity:
                          minimum: 1
                          maximum: 1
                        import_meta: null
                        created_at: '2023-02-23T14:00:40.265185Z'
                        updated_at: '2024-03-25T14:31:18.587603Z'
                      - id: pri_01gsz95g2zrkagg294kpstx54r
                        product_id: pro_01gsz92krfzy3hcx5h5rtgnfwz
                        type: standard
                        description: Monthly (recurring addon)
                        name: Monthly (recurring addon)
                        billing_cycle:
                          interval: month
                          frequency: 1
                        trial_period: null
                        tax_mode: account_setting
                        unit_price:
                          amount: '25000'
                          currency_code: USD
                        unit_price_overrides: []
                        custom_data: null
                        status: active
                        quantity:
                          minimum: 1
                          maximum: 1
                        import_meta: null
                        created_at: '2023-02-23T13:59:52.159927Z'
                        updated_at: '2024-04-09T07:27:48.018296Z'
                      - id: pri_01gsz91wy9k1yn7kx82aafwvea
                        product_id: pro_01gsz4vmqbjk3x4vvtafffd540
                        type: standard
                        description: Annual
                        name: Annual (per seat)
                        billing_cycle:
                          interval: year
                          frequency: 1
                        trial_period: null
                        tax_mode: account_setting
                        unit_price:
                          amount: '50000'
                          currency_code: USD
                        unit_price_overrides: []
                        custom_data: null
                        status: active
                        quantity:
                          minimum: 1
                          maximum: 100
                        import_meta: null
                        created_at: '2023-02-23T13:57:54.249913Z'
                        updated_at: '2024-04-05T14:32:00.471447Z'
                      - id: pri_01gsz8z1q1n00f12qt82y31smh
                        product_id: pro_01gsz4t5hdjse780zja8vvr7jg
                        type: standard
                        description: Annual
                        name: Annual (per seat)
                        billing_cycle:
                          interval: year
                          frequency: 1
                        trial_period: null
                        tax_mode: account_setting
                        unit_price:
                          amount: '30000'
                          currency_code: USD
                        unit_price_overrides: []
                        custom_data: null
                        status: active
                        quantity:
                          minimum: 1
                          maximum: 999
                        import_meta: null
                        created_at: '2023-02-23T13:56:20.833019Z'
                        updated_at: '2024-04-11T13:47:49.566301Z'
                      - id: pri_01gsz8x8sawmvhz1pv30nge1ke
                        product_id: pro_01gsz4t5hdjse780zja8vvr7jg
                        type: standard
                        description: Monthly
                        name: Monthly (per seat)
                        billing_cycle:
                          interval: month
                          frequency: 1
                        trial_period: null
                        tax_mode: account_setting
                        unit_price:
                          amount: '3000'
                          currency_code: USD
                        unit_price_overrides: []
                        custom_data: null
                        status: active
                        quantity:
                          minimum: 1
                          maximum: 999
                        import_meta: null
                        created_at: '2023-02-23T13:55:22.538367Z'
                        updated_at: '2024-04-11T13:54:52.254748Z'
                      - id: pri_01gsz8s48pyr4mbhvv2xfggesg
                        product_id: pro_01gsz4s0w61y0pp88528f1wvvb
                        type: standard
                        description: Annual
                        name: Annual (per seat)
                        billing_cycle:
                          interval: year
                          frequency: 1
                        trial_period: null
                        tax_mode: account_setting
                        unit_price:
                          amount: '10000'
                          currency_code: USD
                        unit_price_overrides: []
                        custom_data: null
                        status: active
                        quantity:
                          minimum: 1
                          maximum: 100
                        import_meta: null
                        created_at: '2023-02-23T13:53:06.838342Z'
                        updated_at: '2024-04-09T07:24:33.205169Z'
                      - id: pri_01gsz8ntc6z7npqqp6j4ys0w1w
                        product_id: pro_01gsz4s0w61y0pp88528f1wvvb
                        type: standard
                        description: Monthly
                        name: Monthly (per seat)
                        billing_cycle:
                          interval: month
                          frequency: 1
                        trial_period: null
                        tax_mode: account_setting
                        unit_price:
                          amount: '1000'
                          currency_code: USD
                        unit_price_overrides: []
                        custom_data: null
                        status: active
                        quantity:
                          minimum: 1
                          maximum: 100
                        import_meta: null
                        created_at: '2023-02-23T13:51:18.406674Z'
                        updated_at: '2024-04-05T14:29:40.000454Z'
                    meta:
                      request_id: f44951b7-d24c-42cd-9477-57e659822674
                      pagination:
                        per_page: 50
                        next: https://api.paddle.com/prices?after=pri_01gsz8ntc6z7npqqp6j4ys0w1w
                        has_more: false
                        estimated_total: 1
        default:
          $ref: '#/components/responses/error'
      operationId: list-prices
      description: |-
        Returns a paginated list of prices. Use the query parameters to page through results.

        By default, Paddle returns prices that are `active`. Use the `status` query parameter to return prices that are archived.

        Use the `include` parameter to include the related product entity in the response.
      parameters:
        - $ref: '#/components/parameters/after_query'
        - $ref: '#/components/parameters/id_query'
        - $ref: '#/components/parameters/include_price_query'
        - $ref: '#/components/parameters/order_by_query'
          description: |-
            Order returned entities by the specified field and direction (`[ASC]` or `[DESC]`). For example, `?order_by=id[ASC]`.

            Valid fields for ordering: `billing_cycle.frequency`, `billing_cycle.interval`, `id`, `product_id`, `quantity.maximum`, `quantity.minimum`, `status`, `tax_mode`, `unit_price.amount`, and `unit_price.currency_code`.
        - $ref: '#/components/parameters/per_page_query'
        - $ref: '#/components/parameters/product_id_query'
        - $ref: '#/components/parameters/status_query'
        - $ref: '#/components/parameters/recurring_query'
        - $ref: '#/components/parameters/type_catalog_query'
    post:
      summary: Create a price
      operationId: create-price
      externalDocs:
        description: Create a price
        url: https://developer.paddle.com/api-reference/prices/create-price
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/price'
                  meta:
                    $ref: '#/components/schemas/meta'
                required:
                  - data
                  - meta
              examples:
                Standard - 201 Created:
                  summary: Create a price (201)
                  value:
                    data:
                      id: pri_01hv0vax6rv18t4tamj848ne4d
                      product_id: pro_01htz88xpr0mm7b3ta2pjkr7w2
                      type: standard
                      description: Monthly (per seat) with 14 day trial
                      name: Monthly (per seat)
                      billing_cycle:
                        interval: month
                        frequency: 1
                      trial_period:
                        interval: day
                        frequency: 14
                      tax_mode: account_setting
                      unit_price:
                        amount: '500'
                        currency_code: USD
                      unit_price_overrides: []
                      custom_data: null
                      status: active
                      quantity:
                        minimum: 1
                        maximum: 100
                      import_meta: null
                      created_at: '2024-04-09T07:14:38.424504286Z'
                      updated_at: '2024-04-09T07:14:38.424504359Z'
                    meta:
                      request_id: 9e7f51e8-838b-4b2c-b0fa-d52d0593354c
        default:
          $ref: '#/components/responses/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/price-create'
            examples:
              Standard:
                $ref: '#/components/examples/create-price-standard'
      description: |-
        Creates a new price.

        Prices describe how you charge for products. You must include a `product_id` in your request to relate this price to a product.

        If you omit the `quantity` object, Paddle automatically sets a minimum of `1` and a maximum of `100` for you. This means the most units that a customer can buy is 100. Set a quantity if you'd like to offer a different amount.

        If successful, your response includes a copy of the new price entity.
      tags:
        - Prices
  "/prices/{price_id}":
    parameters:
      - $ref: '#/components/parameters/price_id_path'
    get:
      summary: Get a price
      externalDocs:
        description: Get a price
        url: https://developer.paddle.com/api-reference/prices/get-price
      tags:
        - Prices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/price-includes'
                  meta:
                    $ref: '#/components/schemas/meta'
                required:
                  - data
                  - meta
              examples:
                Standard - 200 OK:
                  summary: Get a price (200)
                  value:
                    data:
                      id: pri_01gsz8x8sawmvhz1pv30nge1ke
                      product_id: pro_01gsz4t5hdjse780zja8vvr7jg
                      type: standard
                      description: Monthly
                      name: Monthly (per seat)
                      billing_cycle:
                        interval: month
                        frequency: 1
                      trial_period: null
                      tax_mode: account_setting
                      unit_price:
                        amount: '3000'
                        currency_code: USD
                      unit_price_overrides: []
                      custom_data: null
                      status: active
                      quantity:
                        minimum: 1
                        maximum: 999
                      import_meta: null
                      created_at: '2023-02-23T13:55:22.538367Z'
                      updated_at: '2024-04-11T13:54:52.254748Z'
                    meta:
                      request_id: ad44ee69-87c9-4d43-9d51-6c2c701c94f6
        default:
          $ref: '#/components/responses/error'
      operationId: get-price
      description: |-
        Returns a price using its ID.

        Use the `include` parameter to include the related product entity in the response.
      parameters:
        - $ref: '#/components/parameters/include_price_query'
    patch:
      summary: Update a price
      externalDocs:
        description: Update a price
        url: https://developer.paddle.com/api-reference/prices/update-price
      operationId: update-price
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/price'
                  meta:
                    $ref: '#/components/schemas/meta'
                required:
                  - data
                  - meta
              examples:
                Standard - 200 OK:
                  summary: Update a price (200)
                  value:
                    data:
                      id: pri_01hv0vax6rv18t4tamj848ne4d
                      product_id: pro_01htz88xpr0mm7b3ta2pjkr7w2
                      type: standard
                      description: Monthly (per seat) with 14 day trial
                      name: Monthly (per seat)
                      billing_cycle:
                        interval: month
                        frequency: 1
                      trial_period:
                        interval: day
                        frequency: 14
                      tax_mode: account_setting
                      unit_price:
                        amount: '500'
                        currency_code: USD
                      unit_price_overrides:
                        - country_codes:
                            - IE
                            - FR
                            - DE
                          unit_price:
                            amount: '700'
                            currency_code: EUR
                        - country_codes:
                            - GB
                          unit_price:
                            amount: '600'
                            currency_code: GBP
                      custom_data: null
                      status: active
                      quantity:
                        minimum: 1
                        maximum: 100
                      import_meta: null
                      created_at: '2024-04-09T07:14:38.424504Z'
                      updated_at: '2024-04-09T07:15:53.950721Z'
                    meta:
                      request_id: ceb43bdd-c373-4893-952a-ed4f7ad4f2c8
        default:
          $ref: '#/components/responses/error'
      description: |-
        Updates a price using its ID.

        If successful, your response includes a copy of the updated price entity.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/price-update'
            examples:
              Standard:
                $ref: '#/components/examples/update-price-standard'
      tags:
        - Prices
  /transactions:
    get:
      summary: List transactions
      externalDocs:
        description: List transactions
        url: https://developer.paddle.com/api-reference/transactions/list-transactions
      tags:
        - Transactions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/transaction-includes'
                  meta:
                    $ref: '#/components/schemas/meta-paginated'
                required:
                  - data
                  - meta
              examples:
                Standard - 200 OK:
                  summary: List transactions (200)
                  value:
                    data:
                      - id: txn_01hv8xxw3etar07vaxsqbyqasy
                        status: draft
                        customer_id: null
                        address_id: null
                        business_id: null
                        custom_data: null
                        origin: web
                        collection_mode: automatic
                        subscription_id: null
                        invoice_id: null
                        invoice_number: null
                        billing_details: null
                        billing_period: null
                        currency_code: GBP
                        discount_id: null
                        created_at: '2024-04-12T10:33:52.610609Z'
                        updated_at: '2024-04-12T10:33:52.610609Z'
                        billed_at: null
                        items:
                          - price:
                              id: pri_01gsz8x8sawmvhz1pv30nge1ke
                              description: Monthly
                              type: standard
                              name: Monthly (per seat)
                              product_id: pro_01gsz4t5hdjse780zja8vvr7jg
                              billing_cycle:
                                interval: month
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '3000'
                                currency_code: USD
                              unit_price_overrides: []
                              custom_data: null
                              quantity:
                                minimum: 1
                                maximum: 999
                              status: active
                              created_at: '2023-02-23T13:55:22.538367Z'
                              updated_at: '2024-04-11T13:54:52.254748Z'
                              import_meta: null
                            quantity: 10
                          - price:
                              id: pri_01h1vjfevh5etwq3rb416a23h2
                              description: Monthly
                              type: standard
                              name: Monthly (recurring addon)
                              product_id: pro_01h1vjes1y163xfj1rh1tkfb65
                              billing_cycle:
                                interval: month
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '10000'
                                currency_code: USD
                              unit_price_overrides: []
                              custom_data: null
                              quantity:
                                minimum: 1
                                maximum: 100
                              status: active
                              created_at: '2023-06-01T13:31:12.625056Z'
                              updated_at: '2024-04-09T07:23:00.907834Z'
                              import_meta: null
                            quantity: 1
                          - price:
                              id: pri_01gsz98e27ak2tyhexptwc58yk
                              description: One-time addon
                              type: standard
                              name: One-time addon
                              product_id: pro_01gsz97mq9pa4fkyy0wqenepkz
                              billing_cycle: null
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '19900'
                                currency_code: USD
                              unit_price_overrides: []
                              custom_data: null
                              quantity:
                                minimum: 1
                                maximum: 1
                              status: active
                              created_at: '2023-02-23T14:01:28.391712Z'
                              updated_at: '2024-04-09T07:23:10.921392Z'
                              import_meta: null
                            quantity: 1
                        details:
                          tax_rates_used:
                            - tax_rate: '0.2'
                              totals:
                                subtotal: '47924'
                                discount: '0'
                                tax: '9585'
                                total: '57509'
                          totals:
                            subtotal: '47924'
                            tax: '9585'
                            discount: '0'
                            total: '57509'
                            grand_total: '57509'
                            fee: null
                            credit: '0'
                            credit_to_balance: '0'
                            balance: '57509'
                            earnings: null
                            currency_code: GBP
                          adjusted_totals:
                            subtotal: '47924'
                            tax: '9585'
                            total: '57509'
                            grand_total: '57509'
                            fee: '0'
                            earnings: '0'
                            currency_code: GBP
                          payout_totals: null
                          adjusted_payout_totals: null
                          line_items:
                            - id: txnitm_01hv8xxw6qxaypzmf81xqgcba9
                              price_id: pri_01gsz8x8sawmvhz1pv30nge1ke
                              quantity: 10
                              totals:
                                subtotal: '24000'
                                tax: '4800'
                                discount: '0'
                                total: '28800'
                              product:
                                id: pro_01gsz4t5hdjse780zja8vvr7jg
                                name: AeroEdit Pro
                                description: Designed for professional pilots, including all features plus in Basic plus compliance monitoring, route optimization, and third-party integrations.
                                type: standard
                                tax_category: standard
                                image_url: https://paddle.s3.amazonaws.com/user/165798/bT1XUOJAQhOUxGs83cbk_pro.png
                                custom_data:
                                  features:
                                    aircraft_performance: true
                                    compliance_monitoring: true
                                    flight_log_management: true
                                    payment_by_invoice: false
                                    route_planning: true
                                    sso: false
                                  suggested_addons:
                                    - pro_01h1vjes1y163xfj1rh1tkfb65
                                    - pro_01gsz97mq9pa4fkyy0wqenepkz
                                  upgrade_description: Move from Basic to Pro to take advantage of aircraft performance, advanced route planning, and compliance monitoring.
                                status: active
                                created_at: '2023-02-23T12:43:46.605Z'
                                updated_at: '2024-04-05T15:53:44.687Z'
                                import_meta: null
                              tax_rate: '0.2'
                              unit_totals:
                                subtotal: '2400'
                                tax: '480'
                                discount: '0'
                                total: '2880'
                            - id: txnitm_01hv8xxw6qxaypzmf823nwmr95
                              price_id: pri_01h1vjfevh5etwq3rb416a23h2
                              quantity: 1
                              totals:
                                subtotal: '8001'
                                tax: '1600'
                                discount: '0'
                                total: '9601'
                              product:
                                id: pro_01h1vjes1y163xfj1rh1tkfb65
                                name: Analytics addon
                                description: Unlock advanced insights into your flight data with enhanced analytics and reporting features. Includes customizable reporting templates and trend analysis across flights.
                                type: standard
                                tax_category: standard
                                image_url: https://paddle.s3.amazonaws.com/user/165798/97dRpA6SXzcE6ekK9CAr_analytics.png
                                custom_data: null
                                status: active
                                created_at: '2023-06-01T13:30:50.302Z'
                                updated_at: '2024-04-05T15:47:17.163Z'
                                import_meta: null
                              tax_rate: '0.2'
                              unit_totals:
                                subtotal: '8001'
                                tax: '1600'
                                discount: '0'
                                total: '9601'
                            - id: txnitm_01hv8xxw6qxaypzmf829vtr6tx
                              price_id: pri_01gsz98e27ak2tyhexptwc58yk
                              quantity: 1
                              totals:
                                subtotal: '15923'
                                tax: '3185'
                                discount: '0'
                                total: '19108'
                              product:
                                id: pro_01gsz97mq9pa4fkyy0wqenepkz
                                name: Custom domains
                                description: Make AeroEdit truly your own with custom domains. Custom domains reinforce your brand identity and make it easy for your team to access your account.
                                type: standard
                                tax_category: standard
                                image_url: https://paddle.s3.amazonaws.com/user/165798/XIG7UXoJQHmlIAiKcnkA_custom-domains.png
                                custom_data: null
                                status: active
                                created_at: '2023-02-23T14:01:02.441Z'
                                updated_at: '2024-04-05T15:43:28.971Z'
                                import_meta: null
                              tax_rate: '0.2'
                              unit_totals:
                                subtotal: '15923'
                                tax: '3185'
                                discount: '0'
                                total: '19108'
                        payments: []
                        checkout:
                          url: https://aeroedit.com/pay?_ptxn=txn_01hv8xxw3etar07vaxsqbyqasy
                      - id: txn_01hv8xbtmb6zc7c264ycteehth
                        status: past_due
                        customer_id: ctm_01hv8wt8nffez4p2t6typn4a5j
                        address_id: add_01hv8wt8ny8ms5vtm71bj8vcdd
                        business_id: null
                        custom_data: null
                        origin: subscription_recurring
                        collection_mode: automatic
                        subscription_id: sub_01hv8x29kz0t586xy6zn1a62ny
                        invoice_id: null
                        invoice_number: null
                        billing_details: null
                        billing_period:
                          starts_at: '2024-05-12T10:18:47.635628Z'
                          ends_at: '2024-06-12T10:18:47.635628Z'
                        currency_code: USD
                        discount_id: null
                        created_at: '2024-04-12T10:24:01.588479Z'
                        updated_at: '2024-04-12T10:24:03.197001Z'
                        billed_at: '2024-04-12T10:24:01.163479Z'
                        items:
                          - price:
                              id: pri_01gsz8x8sawmvhz1pv30nge1ke
                              description: Monthly
                              type: standard
                              name: Monthly (per seat)
                              product_id: pro_01gsz4t5hdjse780zja8vvr7jg
                              billing_cycle:
                                interval: month
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '3000'
                                currency_code: USD
                              unit_price_overrides: []
                              custom_data: null
                              quantity:
                                minimum: 1
                                maximum: 999
                              status: active
                              created_at: '2023-02-23T13:55:22.538367Z'
                              updated_at: '2024-04-11T13:54:52.254748Z'
                              import_meta: null
                            quantity: 10
                            proration:
                              rate: '1'
                              billing_period:
                                starts_at: '2024-05-12T10:18:47.635628Z'
                                ends_at: '2024-06-12T10:18:47.635628Z'
                          - price:
                              id: pri_01h1vjfevh5etwq3rb416a23h2
                              description: Monthly
                              type: standard
                              name: Monthly (recurring addon)
                              product_id: pro_01h1vjes1y163xfj1rh1tkfb65
                              billing_cycle:
                                interval: month
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '10000'
                                currency_code: USD
                              unit_price_overrides: []
                              custom_data: null
                              quantity:
                                minimum: 1
                                maximum: 100
                              status: active
                              created_at: '2023-06-01T13:31:12.625056Z'
                              updated_at: '2024-04-09T07:23:00.907834Z'
                              import_meta: null
                            quantity: 1
                            proration:
                              rate: '1'
                              billing_period:
                                starts_at: '2024-05-12T10:18:47.635628Z'
                                ends_at: '2024-06-12T10:18:47.635628Z'
                        details:
                          tax_rates_used:
                            - tax_rate: '0.08875'
                              totals:
                                subtotal: '40000'
                                discount: '0'
                                tax: '3549'
                                total: '43549'
                          totals:
                            subtotal: '40000'
                            tax: '3549'
                            discount: '0'
                            total: '43549'
                            grand_total: '43549'
                            fee: null
                            credit: '0'
                            credit_to_balance: '0'
                            balance: '43549'
                            earnings: null
                            currency_code: USD
                          adjusted_totals:
                            subtotal: '40000'
                            tax: '3549'
                            total: '43549'
                            grand_total: '43549'
                            fee: '0'
                            earnings: '0'
                            currency_code: USD
                          payout_totals: null
                          adjusted_payout_totals: null
                          line_items:
                            - id: txnitm_01hv8xbv0wdggp4a9338b18ckn
                              price_id: pri_01gsz8x8sawmvhz1pv30nge1ke
                              quantity: 10
                              totals:
                                subtotal: '30000'
                                tax: '2662'
                                discount: '0'
                                total: '32662'
                              product:
                                id: pro_01gsz4t5hdjse780zja8vvr7jg
                                name: AeroEdit Pro
                                description: Designed for professional pilots, including all features plus in Basic plus compliance monitoring, route optimization, and third-party integrations.
                                type: standard
                                tax_category: standard
                                image_url: https://paddle.s3.amazonaws.com/user/165798/bT1XUOJAQhOUxGs83cbk_pro.png
                                custom_data:
                                  features:
                                    aircraft_performance: true
                                    compliance_monitoring: true
                                    flight_log_management: true
                                    payment_by_invoice: false
                                    route_planning: true
                                    sso: false
                                  suggested_addons:
                                    - pro_01h1vjes1y163xfj1rh1tkfb65
                                    - pro_01gsz97mq9pa4fkyy0wqenepkz
                                  upgrade_description: Move from Basic to Pro to take advantage of aircraft performance, advanced route planning, and compliance monitoring.
                                status: active
                                created_at: '2023-02-23T12:43:46.605Z'
                                updated_at: '2024-04-05T15:53:44.687Z'
                                import_meta: null
                              tax_rate: '0.08875'
                              unit_totals:
                                subtotal: '3000'
                                tax: '266'
                                discount: '0'
                                total: '3266'
                              proration:
                                rate: '1'
                                billing_period:
                                  starts_at: '2024-05-12T10:18:47.635628Z'
                                  ends_at: '2024-06-12T10:18:47.635628Z'
                            - id: txnitm_01hv8xbv0wdggp4a933cx2m9qc
                              price_id: pri_01h1vjfevh5etwq3rb416a23h2
                              quantity: 1
                              totals:
                                subtotal: '10000'
                                tax: '887'
                                discount: '0'
                                total: '10887'
                              product:
                                id: pro_01h1vjes1y163xfj1rh1tkfb65
                                name: Analytics addon
                                description: Unlock advanced insights into your flight data with enhanced analytics and reporting features. Includes customizable reporting templates and trend analysis across flights.
                                type: standard
                                tax_category: standard
                                image_url: https://paddle.s3.amazonaws.com/user/165798/97dRpA6SXzcE6ekK9CAr_analytics.png
                                custom_data: null
                                status: active
                                created_at: '2023-06-01T13:30:50.302Z'
                                updated_at: '2024-04-05T15:47:17.163Z'
                                import_meta: null
                              tax_rate: '0.08875'
                              unit_totals:
                                subtotal: '10000'
                                tax: '887'
                                discount: '0'
                                total: '10887'
                              proration:
                                rate: '1'
                                billing_period:
                                  starts_at: '2024-05-12T10:18:47.635628Z'
                                  ends_at: '2024-06-12T10:18:47.635628Z'
                        payments:
                          - payment_attempt_id: ff8123f6-9cfc-4f04-9984-75e4ad04b169
                            stored_payment_method_id: 281ff2ca-8550-42b9-bf39-15948e7de62d
                            payment_method_id: paymtd_01hv8x1tpjfnttxddw73xnqx6s
                            amount: '43549'
                            status: error
                            error_code: authentication_failed
                            method_details:
                              type: card
                              card:
                                type: visa
                                last4: '3184'
                                expiry_month: 1
                                expiry_year: 2025
                                cardholder_name: Michael McGovern
                            created_at: '2024-04-12T10:24:01.692772Z'
                            captured_at: null
                        checkout:
                          url: https://aeroedit.com/pay?_ptxn=txn_01hv8xbtmb6zc7c264ycteehth
                      - id: txn_01hv8wptq8987qeep44cyrewp9
                        status: completed
                        customer_id: ctm_01hv8wt8nffez4p2t6typn4a5j
                        address_id: add_01hv8wt8ny8ms5vtm71bj8vcdd
                        business_id: null
                        custom_data: null
                        origin: web
                        collection_mode: automatic
                        subscription_id: sub_01hv8x29kz0t586xy6zn1a62ny
                        invoice_id: inv_01hv8x29nsh54c2pgt0hnq0zkx
                        invoice_number: 325-10566
                        billing_details: null
                        billing_period:
                          starts_at: '2024-04-12T10:18:47.635628Z'
                          ends_at: '2024-05-12T10:18:47.635628Z'
                        currency_code: USD
                        discount_id: null
                        created_at: '2024-04-12T10:12:33.2014Z'
                        updated_at: '2024-04-12T10:20:21.386946Z'
                        billed_at: '2024-04-12T10:18:48.294633Z'
                        items:
                          - price:
                              id: pri_01gsz8x8sawmvhz1pv30nge1ke
                              description: Monthly
                              type: standard
                              name: Monthly (per seat)
                              product_id: pro_01gsz4t5hdjse780zja8vvr7jg
                              billing_cycle:
                                interval: month
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '3000'
                                currency_code: USD
                              unit_price_overrides: []
                              custom_data: null
                              quantity:
                                minimum: 1
                                maximum: 999
                              status: active
                              created_at: '2023-02-23T13:55:22.538367Z'
                              updated_at: '2024-04-11T13:54:52.254748Z'
                              import_meta: null
                            quantity: 10
                          - price:
                              id: pri_01h1vjfevh5etwq3rb416a23h2
                              description: Monthly
                              type: standard
                              name: Monthly (recurring addon)
                              product_id: pro_01h1vjes1y163xfj1rh1tkfb65
                              billing_cycle:
                                interval: month
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '10000'
                                currency_code: USD
                              unit_price_overrides: []
                              custom_data: null
                              quantity:
                                minimum: 1
                                maximum: 100
                              status: active
                              created_at: '2023-06-01T13:31:12.625056Z'
                              updated_at: '2024-04-09T07:23:00.907834Z'
                              import_meta: null
                            quantity: 1
                          - price:
                              id: pri_01gsz98e27ak2tyhexptwc58yk
                              description: One-time addon
                              type: standard
                              name: One-time addon
                              product_id: pro_01gsz97mq9pa4fkyy0wqenepkz
                              billing_cycle: null
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '19900'
                                currency_code: USD
                              unit_price_overrides: []
                              custom_data: null
                              quantity:
                                minimum: 1
                                maximum: 1
                              status: active
                              created_at: '2023-02-23T14:01:28.391712Z'
                              updated_at: '2024-04-09T07:23:10.921392Z'
                              import_meta: null
                            quantity: 1
                        details:
                          tax_rates_used:
                            - tax_rate: '0.08875'
                              totals:
                                subtotal: '59900'
                                discount: '0'
                                tax: '5315'
                                total: '65215'
                          totals:
                            subtotal: '59900'
                            tax: '5315'
                            discount: '0'
                            total: '65215'
                            grand_total: '65215'
                            fee: '3311'
                            credit: '0'
                            credit_to_balance: '0'
                            balance: '0'
                            earnings: '56589'
                            currency_code: USD
                          adjusted_totals:
                            subtotal: '59900'
                            tax: '5315'
                            total: '65215'
                            grand_total: '65215'
                            fee: '3311'
                            earnings: '56589'
                            currency_code: USD
                          payout_totals:
                            subtotal: '59900'
                            tax: '5315'
                            discount: '0'
                            total: '65215'
                            credit: '0'
                            credit_to_balance: '0'
                            balance: '0'
                            grand_total: '65215'
                            fee: '3311'
                            earnings: '56589'
                            currency_code: USD
                          adjusted_payout_totals:
                            subtotal: '59900'
                            tax: '5315'
                            total: '65215'
                            fee: '3311'
                            chargeback_fee:
                              amount: '0'
                              original: null
                            earnings: '56589'
                            currency_code: USD
                          line_items:
                            - id: txnitm_01hv8wt98jahpbm1t1tzr06z6n
                              price_id: pri_01gsz8x8sawmvhz1pv30nge1ke
                              quantity: 10
                              totals:
                                subtotal: '30000'
                                tax: '2662'
                                discount: '0'
                                total: '32662'
                              product:
                                id: pro_01gsz4t5hdjse780zja8vvr7jg
                                name: AeroEdit Pro
                                description: Designed for professional pilots, including all features plus in Basic plus compliance monitoring, route optimization, and third-party integrations.
                                type: standard
                                tax_category: standard
                                image_url: https://paddle.s3.amazonaws.com/user/165798/bT1XUOJAQhOUxGs83cbk_pro.png
                                custom_data:
                                  features:
                                    aircraft_performance: true
                                    compliance_monitoring: true
                                    flight_log_management: true
                                    payment_by_invoice: false
                                    route_planning: true
                                    sso: false
                                  suggested_addons:
                                    - pro_01h1vjes1y163xfj1rh1tkfb65
                                    - pro_01gsz97mq9pa4fkyy0wqenepkz
                                  upgrade_description: Move from Basic to Pro to take advantage of aircraft performance, advanced route planning, and compliance monitoring.
                                status: active
                                created_at: '2023-02-23T12:43:46.605Z'
                                updated_at: '2024-04-05T15:53:44.687Z'
                                import_meta: null
                              tax_rate: '0.08875'
                              unit_totals:
                                subtotal: '3000'
                                tax: '266'
                                discount: '0'
                                total: '3266'
                            - id: txnitm_01hv8wt98jahpbm1t1v1sd067y
                              price_id: pri_01h1vjfevh5etwq3rb416a23h2
                              quantity: 1
                              totals:
                                subtotal: '10000'
                                tax: '887'
                                discount: '0'
                                total: '10887'
                              product:
                                id: pro_01h1vjes1y163xfj1rh1tkfb65
                                name: Analytics addon
                                description: Unlock advanced insights into your flight data with enhanced analytics and reporting features. Includes customizable reporting templates and trend analysis across flights.
                                type: standard
                                tax_category: standard
                                image_url: https://paddle.s3.amazonaws.com/user/165798/97dRpA6SXzcE6ekK9CAr_analytics.png
                                custom_data: null
                                status: active
                                created_at: '2023-06-01T13:30:50.302Z'
                                updated_at: '2024-04-05T15:47:17.163Z'
                                import_meta: null
                              tax_rate: '0.08875'
                              unit_totals:
                                subtotal: '10000'
                                tax: '887'
                                discount: '0'
                                total: '10887'
                            - id: txnitm_01hv8wt98jahpbm1t1v67vqnb6
                              price_id: pri_01gsz98e27ak2tyhexptwc58yk
                              quantity: 1
                              totals:
                                subtotal: '19900'
                                tax: '1766'
                                discount: '0'
                                total: '21666'
                              product:
                                id: pro_01gsz97mq9pa4fkyy0wqenepkz
                                name: Custom domains
                                description: Make AeroEdit truly your own with custom domains. Custom domains reinforce your brand identity and make it easy for your team to access your account.
                                type: standard
                                tax_category: standard
                                image_url: https://paddle.s3.amazonaws.com/user/165798/XIG7UXoJQHmlIAiKcnkA_custom-domains.png
                                custom_data: null
                                status: active
                                created_at: '2023-02-23T14:01:02.441Z'
                                updated_at: '2024-04-05T15:43:28.971Z'
                                import_meta: null
                              tax_rate: '0.08875'
                              unit_totals:
                                subtotal: '19900'
                                tax: '1766'
                                discount: '0'
                                total: '21666'
                        payments:
                          - payment_attempt_id: 937640dd-e3dc-40df-a16c-bb75aafd8f71
                            stored_payment_method_id: 281ff2ca-8550-42b9-bf39-15948e7de62d
                            payment_method_id: paymtd_01hv8x1tpjfnttxddw73xnqx6s
                            amount: '65215'
                            status: captured
                            error_code: null
                            method_details:
                              type: card
                              card:
                                type: visa
                                last4: '3184'
                                expiry_month: 1
                                expiry_year: 2025
                                cardholder_name: Michael McGovern
                            created_at: '2024-04-12T10:18:33.579142Z'
                            captured_at: '2024-04-12T10:18:47.635628Z'
                          - payment_attempt_id: 8f72cfa6-26b4-4a57-91dc-8f2708f7822d
                            stored_payment_method_id: a78ece50-356f-4e0c-b72d-ad5368b0a0d9
                            payment_method_id: paymtd_01hv8wx2mka7dfsqjjsxh1ne7z
                            amount: '65215'
                            status: error
                            error_code: declined
                            method_details:
                              type: card
                              card:
                                type: visa
                                last4: '0002'
                                expiry_month: 1
                                expiry_year: 2025
                                cardholder_name: Michael McGovern
                            created_at: '2024-04-12T10:15:57.888183Z'
                            captured_at: null
                        checkout:
                          url: https://aeroedit.com/pay?_ptxn=txn_01hv8wptq8987qeep44cyrewp9
                      - id: txn_01hv8wnvvtedwjrhfhpr9vkq9w
                        status: completed
                        customer_id: ctm_01hchnxgrh0wcyngy8q9d1hpkz
                        address_id: add_01hchnxgsa1v3791z2tvy0fc1t
                        business_id: null
                        custom_data: null
                        origin: subscription_recurring
                        collection_mode: automatic
                        subscription_id: sub_01hchny8h8r5w9xtb514qs6rdy
                        invoice_id: inv_01hv8wnzafnbv52m4zs73gghrq
                        invoice_number: 325-10565
                        billing_details: null
                        billing_period:
                          starts_at: '2024-04-12T10:11:57.907988Z'
                          ends_at: '2024-05-12T10:11:57.907988Z'
                        currency_code: USD
                        discount_id: null
                        created_at: '2024-04-12T10:12:01.643104Z'
                        updated_at: '2024-04-12T10:15:53.705103Z'
                        billed_at: '2024-04-12T10:12:01.530736Z'
                        items:
                          - price:
                              id: pri_01h1vjfevh5etwq3rb416a23h2
                              description: Monthly (recurring addon)
                              type: standard
                              name: null
                              product_id: pro_01h1vjes1y163xfj1rh1tkfb65
                              billing_cycle:
                                interval: month
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '10000'
                                currency_code: USD
                              unit_price_overrides: []
                              custom_data: null
                              quantity:
                                minimum: 1
                                maximum: 100
                              status: active
                              created_at: '2023-06-01T13:31:12.625056Z'
                              updated_at: '2023-08-30T10:34:33.862679Z'
                              import_meta: null
                            quantity: 1
                            proration:
                              rate: '1'
                              billing_period:
                                starts_at: '2024-04-12T10:11:57.907988Z'
                                ends_at: '2024-05-12T10:11:57.907988Z'
                          - price:
                              id: pri_01gsz8x8sawmvhz1pv30nge1ke
                              description: Monthly (per seat)
                              type: standard
                              name: null
                              product_id: pro_01gsz4t5hdjse780zja8vvr7jg
                              billing_cycle:
                                interval: month
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '3000'
                                currency_code: USD
                              unit_price_overrides: []
                              custom_data: null
                              quantity:
                                minimum: 10
                                maximum: 999
                              status: active
                              created_at: '2023-02-23T13:55:22.538367Z'
                              updated_at: '2023-08-16T12:37:28.60409Z'
                              import_meta: null
                            quantity: 10
                            proration:
                              rate: '1'
                              billing_period:
                                starts_at: '2024-04-12T10:11:57.907988Z'
                                ends_at: '2024-05-12T10:11:57.907988Z'
                        details:
                          tax_rates_used:
                            - tax_rate: '0.19'
                              totals:
                                subtotal: '40000'
                                discount: '0'
                                tax: '7600'
                                total: '47600'
                          totals:
                            subtotal: '40000'
                            tax: '7600'
                            discount: '0'
                            total: '47600'
                            grand_total: '47600'
                            fee: '2430'
                            credit: '0'
                            credit_to_balance: '0'
                            balance: '0'
                            earnings: '37570'
                            currency_code: USD
                          adjusted_totals:
                            subtotal: '40000'
                            tax: '7600'
                            total: '47600'
                            grand_total: '47600'
                            fee: '2430'
                            earnings: '37570'
                            currency_code: USD
                          payout_totals:
                            subtotal: '40000'
                            tax: '7600'
                            discount: '0'
                            total: '47600'
                            credit: '0'
                            credit_to_balance: '0'
                            balance: '0'
                            grand_total: '47600'
                            fee: '2430'
                            earnings: '37570'
                            currency_code: USD
                          adjusted_payout_totals:
                            subtotal: '40000'
                            tax: '7600'
                            total: '47600'
                            fee: '2430'
                            chargeback_fee:
                              amount: '0'
                              original: null
                            earnings: '37570'
                            currency_code: USD
                          line_items:
                            - id: txnitm_01hv8wnvyfe1jtd0jczr9wed4s
                              price_id: pri_01h1vjfevh5etwq3rb416a23h2
                              quantity: 1
                              totals:
                                subtotal: '10000'
                                tax: '1900'
                                discount: '0'
                                total: '11900'
                              product:
                                id: pro_01h1vjes1y163xfj1rh1tkfb65
                                name: Analytics addon
                                description: Unlock advanced insights into your flight data with enhanced analytics and reporting features. Includes customizable reporting templates and trend analysis across flights.
                                type: standard
                                tax_category: standard
                                image_url: https://paddle.s3.amazonaws.com/user/165798/97dRpA6SXzcE6ekK9CAr_analytics.png
                                custom_data: null
                                status: active
                                created_at: '2023-06-01T13:30:50.302Z'
                                updated_at: '2024-04-05T15:47:17.163Z'
                                import_meta: null
                              tax_rate: '0.19'
                              unit_totals:
                                subtotal: '10000'
                                tax: '1900'
                                discount: '0'
                                total: '11900'
                              proration:
                                rate: '1'
                                billing_period:
                                  starts_at: '2024-04-12T10:11:57.907988Z'
                                  ends_at: '2024-05-12T10:11:57.907988Z'
                            - id: txnitm_01hv8wnvyfe1jtd0jczy8s3mtk
                              price_id: pri_01gsz8x8sawmvhz1pv30nge1ke
                              quantity: 10
                              totals:
                                subtotal: '30000'
                                tax: '5700'
                                discount: '0'
                                total: '35700'
                              product:
                                id: pro_01gsz4t5hdjse780zja8vvr7jg
                                name: AeroEdit Pro
                                description: Designed for professional pilots, including all features plus in Basic plus compliance monitoring, route optimization, and third-party integrations.
                                type: standard
                                tax_category: standard
                                image_url: https://paddle.s3.amazonaws.com/user/165798/bT1XUOJAQhOUxGs83cbk_pro.png
                                custom_data:
                                  features:
                                    aircraft_performance: true
                                    compliance_monitoring: true
                                    flight_log_management: true
                                    payment_by_invoice: false
                                    route_planning: true
                                    sso: false
                                  suggested_addons:
                                    - pro_01h1vjes1y163xfj1rh1tkfb65
                                    - pro_01gsz97mq9pa4fkyy0wqenepkz
                                  upgrade_description: Move from Basic to Pro to take advantage of aircraft performance, advanced route planning, and compliance monitoring.
                                status: active
                                created_at: '2023-02-23T12:43:46.605Z'
                                updated_at: '2024-04-05T15:53:44.687Z'
                                import_meta: null
                              tax_rate: '0.19'
                              unit_totals:
                                subtotal: '3000'
                                tax: '570'
                                discount: '0'
                                total: '3570'
                              proration:
                                rate: '1'
                                billing_period:
                                  starts_at: '2024-04-12T10:11:57.907988Z'
                                  ends_at: '2024-05-12T10:11:57.907988Z'
                        payments:
                          - payment_attempt_id: 37658fc8-5290-4384-a459-1e7a4e37174d
                            stored_payment_method_id: 1fa1a6bb-d2cd-4af3-88ec-45b0d88a066a
                            payment_method_id: paymtd_01hchny0jr4h5b7adktfdacmgy
                            amount: '47600'
                            status: captured
                            error_code: null
                            method_details:
                              type: card
                              card:
                                type: visa
                                last4: '5556'
                                expiry_month: 6
                                expiry_year: 2026
                                cardholder_name: test
                            created_at: '2024-04-12T10:12:01.729257Z'
                            captured_at: '2024-04-12T10:12:04.496216Z'
                        checkout:
                          url: https://aeroedit.com/pay?_ptxn=txn_01hv8wnvvtedwjrhfhpr9vkq9w
                      - id: txn_01hv8m0mnx3sj85e7gxc6kga03
                        status: canceled
                        customer_id: ctm_01hv6y1jedq4p1n0yqn5ba3ky4
                        address_id: add_01hv8gq3318ktkfengj2r75gfx
                        business_id: null
                        custom_data: null
                        origin: api
                        collection_mode: manual
                        subscription_id: sub_01hv8xqmay5w5rfsnzkxzgy0yp
                        invoice_id: inv_01hv8m0nn5nbvdejcvv9cpg8jf
                        invoice_number: 325-10567
                        billing_details:
                          enable_checkout: false
                          payment_terms:
                            interval: day
                            frequency: 14
                          purchase_order_number: PO-123
                          additional_information: null
                        billing_period:
                          starts_at: '2024-04-12T00:00:00Z'
                          ends_at: '2025-04-11T23:59:00Z'
                        currency_code: USD
                        discount_id: dsc_01gtgztp8fpchantd5g1wrksa3
                        created_at: '2024-04-12T07:40:38.00704Z'
                        updated_at: '2024-04-12T10:31:27.360716Z'
                        billed_at: '2024-04-12T10:30:27.198043Z'
                        items:
                          - price:
                              id: pri_01gsz91wy9k1yn7kx82aafwvea
                              description: Annual
                              type: standard
                              name: Annual (per seat)
                              product_id: pro_01gsz4vmqbjk3x4vvtafffd540
                              billing_cycle:
                                interval: year
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '50000'
                                currency_code: USD
                              unit_price_overrides: []
                              custom_data: null
                              quantity:
                                minimum: 1
                                maximum: 100
                              status: active
                              created_at: '2023-02-23T13:57:54.249913Z'
                              updated_at: '2024-04-05T14:32:00.471447Z'
                              import_meta: null
                            quantity: 50
                          - price:
                              id: pri_01gsz96z29d88jrmsf2ztbfgjg
                              description: Annual (recurring addon)
                              type: standard
                              name: Annual (recurring addon)
                              product_id: pro_01gsz92krfzy3hcx5h5rtgnfwz
                              billing_cycle:
                                interval: year
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '300000'
                                currency_code: USD
                              unit_price_overrides: []
                              custom_data: null
                              quantity:
                                minimum: 1
                                maximum: 1
                              status: active
                              created_at: '2023-02-23T14:00:40.265185Z'
                              updated_at: '2024-03-25T14:31:18.587603Z'
                              import_meta: null
                            quantity: 1
                          - price:
                              id: pri_01gsz98e27ak2tyhexptwc58yk
                              description: One-time addon
                              type: standard
                              name: One-time addon
                              product_id: pro_01gsz97mq9pa4fkyy0wqenepkz
                              billing_cycle: null
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '19900'
                                currency_code: USD
                              unit_price_overrides: []
                              custom_data: null
                              quantity:
                                minimum: 1
                                maximum: 1
                              status: active
                              created_at: '2023-02-23T14:01:28.391712Z'
                              updated_at: '2024-04-09T07:23:10.921392Z'
                              import_meta: null
                            quantity: 1
                        details:
                          tax_rates_used:
                            - tax_rate: '0.08875'
                              totals:
                                subtotal: '2819900'
                                discount: '281990'
                                tax: '225239'
                                total: '2763149'
                          totals:
                            subtotal: '2819900'
                            tax: '225239'
                            discount: '281990'
                            total: '2763149'
                            grand_total: '2763149'
                            fee: null
                            credit: '0'
                            credit_to_balance: '0'
                            balance: '2763149'
                            earnings: null
[...]
